.terminal {
	padding: 6px;
	transition: filter 100ms ease-out;
}

.terminal.disabled {
	filter: opacity(var(--disabled-opacity));
}

.sb-settings-container {
	margin: 12px;
}

.search-settings > * {
	min-height: 16px;
	padding: 4px 8px;
}
